#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
#sideMenu{
  display: flex;
  background-color:  #242424;
  width: 100px;
  justify-items: center;
  height:100vh;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;}
#CardMainGrid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row ;
}


#CompanyCard {

  display: flex;
  width: 350px;
  height: 450px;
  flex-direction: column;
  /* background-color: rgba(rgba(0, 255, 225, 0.034), rgb(7, 40, 35), rgba(18, 18, 43, 0.125), 0.5); */
  background-color: rgb(177, 207, 230);
  border-radius: 10px;
  margin: auto;


}

#CompanyCard h1 {
  margin-top: 1%;
}



#CompanyCard h2 {
  /* margin-top: -15px; */
  color: black;
}



#spacebetween { 
  display: flex;
  /* margin-top: 2%; */
}

#gridCompanyxll{
  display: flex;
  flex-direction: column;
  
}


#gridCompanyxll button{
  width:350px
}

#delete-container{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}


#ParkGrid{
display: flex;
flex-wrap: wrap;
width: 600px;
height: 100%;
justify-content: space-evenly;
}
.park{
  width: 120px;
  height: 180px;
  background-color: #242424;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
  margin-top: 2%;
}

             

#AllGrid {
  display: flex;
  flex-direction: row;
  gap: 700px
}